@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 10px;
    padding: 10px;
}
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'poppins';
    background: #e9e9e9;
}
li{
    list-style: none;
}
a,
a:hover{
    text-decoration: none;
}

.box{
    width:100%;
    height: 80vh;
    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://images.pexels.com/photos/2541239/pexels-photo-2541239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.box-content{
    width: 500px;
    height: auto;
    text-align: center;
}
.box-content h2{
    color: white;
    font-size: 55px;
    font-weight: 900;
}
.box-content p{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.box-content a{
    display: inline-block;
    margin: 20px 0;
    padding : 10px 20px;
    background-color: white;
    color: #000;
}

/*    modal     */

.box-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-200px);
    transition: all .5s ease-in-out;

    opacity: 0;
    pointer-events: none; 
}

   

   
.box-modal .modal-content{
    width: 500px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
}
.modal-content .modal-header{    
    padding: 10px 15px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
}
.modal-content .modal-header .close{
    cursor: pointer;
    background:transparent;
    border: none;
    font-weight: 600;
    font-size: 26px;
}
.modal-content .modal-body{
    padding: 10px 15px;
}
.modal-content .modal-footer{
    
    padding: 10px 15px;
    border-top: 1px solid #e9e9e9;
}
