*{
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f7f7f7;   
   display: flex;
   justify-content: center;
   align-items: center;
}

.card{
   width: 50%;
}
header{
   width: 100%;
   padding: 0 0 10px 0;
   /* display: flex;
   justify-content: space-between; */
}
header h2{
   font-size: 48px;
   font-weight: 400;
   letter-spacing: 1rem;

}
header .input{
   display: flex;
   justify-content: space-between;
}
header input{
   padding: 10px 20px;
   width: 70%;
   font-size: 18px;
   border: 2px solid gray;
}
header button{
   width: 28%;
   padding: 10px 20px;
   /* font-weight: bold; */
   font-size: 16px;
   border: none;
   font-weight: 600;
   background-color: hsl(46, 99%, 73%);
   border-radius: 2px;
   text-transform: uppercase;
   cursor: pointer;
}
header button:hover{
   background-color: hsl(30, 99%, 70%);
   transition: 400;
}
.main ul{
   list-style: none;
   padding: 0;
}

.main ul li{
   border: 2px solid gray;
   padding: 10px 20px;
   font-size: 18px;
   margin-bottom: 10px;
   background-color: hsl(46, 99%, 73%);
   letter-spacing: 2px;
}


